html, body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

* {
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #33263a;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(-180deg,#33263a, #68616b);
}

/* section{
    margin: 20px;
    padding: 20px;
    width: 50%;
    height: 70%;
    background-color: rgb(196, 189, 189);
    border-radius: 30px;
    border: 7px solid #0a6ea3;
    border: 7px solid #0a6ea3;
} */

section {
    position:relative;
    padding: 30px;
    width: 50%;
    height: 70%;
    background: rgb( 0, green,0,);
    background-image: url("https://images.unsplash.com/photo-1502239608882-93b729c6af43?ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8ZGFyayUyMG1hcmJsZXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&w=1000&q=80");
    color: white;
    background-color: rgb(196, 189, 189);
    border-radius: 35px;
    border: 5px solid #5da3ce;
    display: flex;
    flex-direction: column;
    -webkit-box-shadow: 9px 9px 34px 8px rgba(0,0,0,0.75);
    -moz-box-shadow: 9px 9px 34px 8px rgba(0,0,0,0.75);
    box-shadow: 9px 9px 34px 8px rgba(0,0,0,0.75);
  }
/*   
  section::before {
    content:"";
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    border-radius:30px; 
    padding:7px; 
    background:linear-gradient(45deg,rgb(81, 1, 105),rgb(0, 140, 255)); 
    -webkit-mask: 
       linear-gradient(#fff 0 0) content-box, 
       linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out; 
    mask-composite: exclude; 
  }
     */


header{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    /* border: 10px solid red; */
}

header > img{
    border: 5px solid #5da3ce;
    border-radius: 30px;
    margin-right: 20px;
}

#container{
    display: flex;
    width: 100%;
    height: 100%;
}

#container > div{
    width: 50%;
}


#social > a{
    margin-right: 15px;
}


@media screen and (max-width: 800px){
    header{
    flex-direction: column-reverse;
    }

    header > img{
        margin-right: 0px;
    }

    #container{
        flex-direction: column;
        align-items: center;
        text-align: center;

    }

    #social > a{
        margin-right: 0px;

    }
}

